/* ======================================================= */
/* =================== Skills Section ==================== */
/* ======================================================= */
section.skills {
    width: 100%;
    justify-items: center;
}

section.skills h1 {
    padding-top: 1rem;
    line-height: 50%;
}

section.skills hr {
    justify-self: center;
    width: 85px;
}

section.skills .skills-container{
    width: 100%;
    min-height: 595px;
}

section.skills h1 {
    text-align: center;
}

section.skills .skills-list {
    width: 90%;
    justify-self: center;
}

section.skills .skills-list ul {
    list-style: none;
    padding: 0;
    margin: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 3rem 1rem;
}

section.skills .skills-list li {
    width: 100%;

    transition: border-color 0.5s ease,
    transform 0.5s ease;
}

section.skills .skills-list li:hover {
    transform: scale(1.025);
}

section.skills .skills-list li h3 {
    text-align: center;
}

section.skills .skills-list li div.skills-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem 0.75rem;

    margin-top: 0.5rem;

    width: 17rem;
    justify-self: center;
}

section.skills .skills-list li div p {
    text-align: left;
    display: inline-block;

    font-size: 12px;

    padding: 0.25rem 1rem 0.25rem 1rem;
    margin: 0;
    /* background-color: var(--skill-p-background); */
    border-color: var(--text-muted);
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
}

section.skills .skills-list hr {
    height: 0;
    border: 0;
    border-top: 2px solid var(--text-muted);
    width: 17rem;
}

section.skills .skills-list span{
    width: 100%;
}

section.skills .skills-list span.material-symbols-outlined{
    font-size: 60px;
    text-align: center;
}


@media (max-width: 1050px) {
    section.skills .skills-list ul {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    section.skills .skills-list ul {
        grid-template-columns: 1fr;
    }
}